<div class="main_container">




<div class="login_section">
 
    <div class="header_area"><div class="logo">
        
    </div>
</div>
    <h2>Continue as:</h2>
    <div class="account_section">
        <div class="account" (click)="navHome()">
            <img src="../../../assets/job-details-sm-1.jpg" alt="">
            <div class="name">Michael</div>
        </div>
           <div class="account" (click)="navHome()">
            <img src="../../../assets/me.png" alt="">
            <div class="name">Seth </div>
        </div>
           <div class="account" (click)="navHome()">
            <img src="../../../assets/pexels-anna-shvets-3771643.jpg" alt="">
            <div class="name">Derick</div>
        </div>
    </div>
</div>

</div>