.main-container{
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
    font-family:   'Fira Sans', sans-serif !important;
   .header{
    background-image: url("../.././../../assets/admin-header.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: sticky !important;
  //   position: -webkit-sticky !important;
     top: 0;
     transition: 0.3s;
     .back-btn, .more-btn{
           background-color: rgba(255, 255, 255, 0.3);
             border-radius: 50%;
             width: 35px;
             height: 35px;
             text-align: center;
             margin-top: 0em;
                z-index: 100005645435555545;
         svg{
             width: 15px;
             height: 15px;
             margin-top: 10px;
             margin-bottom: auto;
              z-index: 100005645435555545;
         }
     }
.header-darker{
  //  background-color: rgba(0,0,0,0.4);
  margin-top: 0;
        padding: 1em;
        padding-bottom: 6px;
        padding-top: 6px;
}


     
    }

    .header .wrapper{
        display: flex;
        .more-btn{
            margin-left: auto;
        }
        .library{
            margin-left: 20px;
            margin-top: 7px;
            font-size: 20px;
            font-weight: bold;
            color: white;
        }


        .library.more-btn{
            opacity: 1;
        }
        
    }









.wrap-item{
    padding: 1em;
    padding-bottom: 20px;
}

.title-text{
    padding-left: 1em;
    padding-bottom: 0;
    padding-top: 0;
}

  
   
    .container{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
     padding: 1em;
     padding-top: 20px;
    .card{
        padding: .5em;
        background-color: #DFDFDF;
     
        border-radius: 10px;
        display: flex;
        gap: 20px;
        height:100px;

   .image{
            width: 30%;
            height:100%;
            img{
                width: 100%;
                height:100%;
                border-radius: 10px;
            }
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 10px;
        }


        .wrap-card{
    p{
            font-size: 17px;
        }

.info{
    display: flex;
    gap: 20px;
}

        .faculty{
         font-size: 13px;
        }
        width: 70%;
        }
    

    
    }
}

}



.wrap-item{
    
                   .grid-btn{
               
                    margin-left: auto;
                    border-radius: 50px;
                    border: 1px solid  black ;
                  //  box-shadow: -2px -2px #F8F1EB, 1px 1px  #E5E7ED;
                    padding: 5px;
                    width: 90px;
                  display: flex;
                  justify-content: space-evenly;
                  font-size: 15px;
                    svg{
width: 12px;
height: 12px;
margin-right: 5px;
margin-top: 3px;
                    }
                    div{
        flex-shrink: 0;
                       flex-wrap: nowrap;
                    }
                }
}


        .new-program{
    background-color: #DFDFDF ;
    width: 160px;
    border-radius: 20px;
  
    margin-left: 49%;
    padding: 10px;
      position: fixed;
    top: auto;
    bottom: 15px;
   margin-top: 15vh;
display: flex;
gap: 10px;
  font-family:   'Fira Sans', sans-serif !important;
    img{
        width: 50px;
        height: 20px;
    }
}

.action-sheet{
    position: fixed;

  
      margin-left: 20%;
top: 37%;
background-color: white;
padding: 1em;
border-radius: 10px;
    button{
        background: transparent;
        padding: 10px;
        margin-right: 20px;
        margin-top: 0;
        border: none;
        border-radius: 10px;
    }
}